{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('assets/styles/user_update.css')}}">
{% endblock %}
{% block body %}
    <div class="user_update_container">
        {{form(form)}}
    </div>
{% endblock %}
