{% extends 'base.html.twig'%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/styles/create_video.css')}}">
{% endblock %}
{% block body %}
    <div class="create_video_container">
        <h1>create</h1>
        {{form(videoForm)}}
    </div>
{% endblock %}