{% extends 'base.html.twig' %}

{% block title %} disover page {% endblock %}

{% block body %}
    <h1>discover</h1>
    <iframe src={{video.videoUrl}} allowfullscreen frameborder="0"></iframe>
    <p>{{video.title}}</p>
{% endblock %}