<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>following</h1>
    {% for video in videos %}
        <p>{{video.title}}</p>
        <p>{{video.user.firstname}}</p>
        <p>{{video.user.lastname}}</p>
        <iframe src={{video.videoUrl}} frameborder="0"></iframe>
    {% endfor %}
</body>
</html>